<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{% if page.title %}{{page.title}}{%else%}Home{%endif%} &bull; Team Zephyr &bull; The Boeing Company &bull; Human-Computer Interaction Institute, Carnegie Mellon University</title>
	<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,700,400italic' rel='stylesheet' type='text/css'>
	<link rel="icon" href="{{site.baseurl}}/favicon.ico" type="image/x-icon"> 
  <meta name="description" content="A collaborative project between The Boeing Company and the Human-Computer Interaction Institute at Carnegie Mellon to explore communication during the assembly of the 787 Dreamliner">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="{{site.baseurl}}/css/normalize.css">
  <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
  <script src="{{site.baseurl}}/js/modernizr-2.6.2.min.js"></script>
</head>
<body>
	<header>
		<img class="particle-header-img" src="{{site.baseurl}}/images/header-particles.png"/>
		<div class="wrapper container_12">
			<div class="header-logo">
				<a href="{{site.baseurl}}/" class="grid_4 prefix_4 suffix_4 logo">
					<img class="padding-top" src="{{site.baseurl}}/images/zephyr-logo.png" width="245" height="142"{{site.baseurl}}/>
				</a>
			</div>
			<div id="menu">
				<div class="container_12">
					<div class="menu_container grid_10 prefix_1">
					<ul class="menu">
						<li>
							<a {% if page.title == "About the Project" %}class="current"{% endif %} href="{{site.baseurl}}/about">
								<span>About the Project</span>
							</a>
						</li>
						<li>
							<a {% if page.title == "Our Prototype" %}class="current"{% endif %} href="{{site.baseurl}}/prototype">
								<span>Our Prototype</span>
							</a>
						</li>
						<li>
							<a {% if page.title == "Our Process" %}class="current"{% endif %} href="{{site.baseurl}}/process">
								<span>Our Process</span>
							</a>
						</li>
						<li>
							<a {% if page.title == "Our Team" %}class="current"{% endif %} href="{{site.baseurl}}/meet-the-team">
								<span>Our Team</span>
							</a>
						</li>
					</ul>
					</div>
				</div>
			</div>
		</div>
	</header>
	<div class="main {{page.slug}}">
	<!--<div class="main {{page.slug}}" data-0="background-color:rgb(208,24,116);" data-1000="background-color:rgb(143,64,133);" data-2000="background-color:rgb(72,78,152);" data-3000="background-color:rgb(62,130,174);" data-4000="background-color:rgb(32,190,198);">-->
		<div class="wrap container_12">
			{{content}}
		</div>
	</div>
	<footer>
		<div class="wrap container_12">
			<div class="logos grid_10 prefix_1">
<!-- 					<p>Our goal is to understand the many layers of interaction within the final assembly process of the 787 Dreamliner and envision a financially viable solution that facilitates efficient communication.</p>
					<h4>About the Human-Computer Interaction Institute</h4>
					<p>The HCII’s mission is to understand and create technology that harmonizes with and improves human capabilities, goals, and social environments through interdisciplinary research and education in design, computer science, and behavioral and social sciences. <a href="http://hcii.cmu.edu/">Learn More about the HCII</a>.</p> -->
					<p>
						<a class="img_link" href="{{site.baseurl}}"><img src="{{site.baseurl}}/images/zephyr-logo-footer.png" /></a>
						<a class="img_link" href="http://www.hcii.cmu.edu/"><img src="{{site.baseurl}}/images/zephyr-client-logo-03.png" /></a>
						<a class="img_link" href="http://www.boeing.com"><img src="{{site.baseurl}}/images/zephyr-client-logo-01.png" /></a>
						<a class="img_link" href="http://www.cmu.edu/"><img src="{{site.baseurl}}/images/zephyr-client-logo-02.png" /></a>
					</p>
				</div>
				<!-- <div class="col grid_2 prefix_2">
					<h4>Navigation</h4>
					<ul>
						<li><a href="{{site.baseurl}}/about">About the Project</a></li>
						<li><a href="{{site.baseurl}}/meet-the-team">Meet the Team</a></li>
						<li><a href="mailto:project.zephyr.cmu@gmail.com">Contact Us</a></li>
					</ul>
				</div>
				<div class="col grid_2 omega">
					<h4>Team Members</h4>
					<ul>
						<li><a href="http://www.jasontheblock.com/">Jason Block</a></li>
						<li><a href="http://www.jonasgebhardt.com/">Jonas Gebhardt</a></li>
						<li><a href="http://www.linkedin.com/in/hongarthur">Arthur Hong</a></li>
						<li><a href="http://www.rebeccajablonsky.com/">Rebecca Jablonsky</a></li>
						<li><a href="http://www.johnhrogers.com/">John Rogers</a></li>
					</ul>
					<h4>Faculty Contacts</h4>
					<ul>
						<li>Jenna Date</li>
						<li>Tzu-Wei Powers</li>
					</ul>
					<h4>Client Contacts</h4>
					<ul>
						<li>Jerrod Larson</li>
						<li>Michael Marfizo</li>
					</ul>
				</div> -->
			<!-- </div> -->
		</div>
	</footer>
	<script>
      var _gaq=[['_setAccount','UA-40020678-1'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src='//www.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
  <script type="text/javascript" src="../js/skrollr.min.js"></script>
  <script type="text/javascript" src="../js/main.js"></script>
</body>
</html>